html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: lightgrey;
}

div.wrapper {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

pre.speech {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #16161d;
    color: lightgreen;
}

svg.equalizer {
    border: 1px dotted darkgrey;
    fill: lavender;
}

svg.equalizer > path {
    stroke: red;
}

div.keys {
    width: 100%;
    height: 200px;
    display: flex;

}

div.key {
    flex: 1 1 50px;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

div.key.special {
    background-color: darkred;
}

div.key:hover {
    border-color: red;
}

.key:nth-child(even) {
    background-color: black;
}

.hidden {
    display: none;
}

.wrapper > div + div {
    margin-top: 20px;
}